/*Setting the font to look like a mix of digital and typewriter*/
@font-face {
    font-family: gameFont;
    src: url(monaco.ttf);
}
/* 
Set the background to black
Set the main text color of the page to white
Center the game area in the viewport
*/
body {
    background-color: black;
    color: white;
    font-family: gameFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.title {
    font-size: 150%;
}
#modern-adventure-game {
    display: flex;
    flex-direction: column;
    height: 90vh;
    min-height: 800px;
    width: 66%;
    max-width: 750px;
    border-radius: 10px;
    align-items: center;
    background-color: rgb(250, 250, 250, 0.1);
    padding: 20px;
}
#output {
    display: flex;
    flex-direction: column-reverse;
    height: 40vh;
    width: 90%;
    color: lightgreen;
    background: rgb(10, 10, 10, 0.5);
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 20px;
    font-size: x-large;
    overflow: auto;
}
/* Setting the output content on the bottom without breaking scrollbar
 Set to last child because the order is reversed, first child causes
 a gap between the first two children
*/
#output > :last-child {
    margin-top: auto !important;
}
#output::-webkit-scrollbar {
    width: 1vw;
}
#output::-webkit-scrollbar-thumb {
    background-color: #5A5A5A;
}
#output::-webkit-scrollbar-track {
    background-color: lightgray;
}
#input-area {
    background: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#input-text {
    font-family: gameFont;
    font-size: x-large;
    padding-left: 10px;
    border: none;
    outline: none;
    background: none;
    width: 80%;
}
.input-button {
    font-family: gameFont;
    font-size: 25px;
    border-radius: 5px;
    background: lightgray;
    border: 0.5px solid black;
    cursor: pointer;
    height: 50px;
}
#user-info {
    margin-top: 25px;
    width: 100%;
}
#user-stats {
    display: flex;
    justify-content: space-between;
}
#anxiety, #time-limit {
    font-size: xxx-large;
}
/* Change the color of the text of your Anxiety Level
depending on the level: minimal, low, medium, high, destructive. 
*/
#anxiety-level[anxiety-num ="minimal"] {
    color: white;
}
#anxiety-level[anxiety-num ="low"] {
    color: green;
}
#anxiety-level[anxiety-num ="medium"] {
    color: orange;
}
#anxiety-level[anxiety-num ="high"] {
    color: orangered;
}
#anxiety-level[anxiety-num ="destructive"] {
    color: black;
}
.inventory {
    margin-top: 10px;
    font-size: xx-large;
}
.inventory h1 {
    font-size: xx-large;
}
/*
ul#inventory-list {

}
#inventory-item {

}
*/







/* Displaying how the end game screen looks
*/
#game-over {
    font-size: xx-large;
    color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#restart-button {
    cursor: pointer;
    width: 40vh;
    height: 10vh;
    background-color: #5A5A5A;
    border: none;
    border-radius: 5px;
    font-family: gameFont;
    font-size: larger;
    margin-bottom: 25px;
}